<div class="mb-3">
  <form class="d-flex" role="search" {{on "submit" this.search}}>
    <input
      value={{this._query}}
      class="form-control me-2"
      placeholder="Search"
      aria-labelledby="button-search"
      {{on "input" this.setQuery}}
    />
    <button class="btn btn-outline-success me-2" type="submit">Search</button>
    <button
      class="btn btn-outline-secondary"
      type="button"
      {{on "click" this.cancel}}
    >Cancel</button>
  </form>
</div>
<div class="posts">
  {{#each @model.posts as |post|}}
    <Post @post={{post}} @link={{true}} />
  {{/each}}
</div>

{{#if (gt @model.total_pages 1)}}
  <Pagination
    @route="index"
    @current={{this.page}}
    @last={{@model.total_pages}}
  />
{{/if}}

{{#if this.session.isLogedIn}}
  <LinkTo @route="admin.posts">admin</LinkTo>
{{else}}
  <LinkTo @route="login">login</LinkTo>
{{/if}}