<div class="posts">
  {{#each @model.posts as |post|}}
    <Post @post={{post}} @link={{true}} />
  {{/each}}
</div>

<Pagination @route="index" @current={{this.page}} @last={{@model.total_pages}} />

{{#if this.session.isLogedIn}}
  <LinkTo @route="admin.posts">admin</LinkTo>
{{else}}
  <LinkTo @route="login">login</LinkTo>
{{/if}}