<form {{on "submit" this.createToken}}>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      value={{@model.email}}
      id="email"
      class="form-control {{if @model.error 'is-invalid'}}"
      {{on "input" this.setEmail}}
      type="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      value={{@model.password}}
      id="password"
      class="form-control {{if @model.error 'is-invalid'}}"
      {{on "input" this.setPassword}}
      type="password"
    />
    <div class="error invalid-feedback">
      {{@model.error}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>