<nav class="d-flex justify-content-center" ...attributes>
  <ul class="pagination">
    <li class="page-item {{unless this.prev 'disabled'}}">
      {{#if this.prev}}
        <LinkTo @route={{@route}} @query={{hash page=1}} class="page-link" aria-label="Start">
          <span aria-hidden="true">&lt;&lt;</span>
        </LinkTo>
      {{else}}
        <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&lt;&lt;</span>
        </a>
      {{/if}}
    </li>
    <li class="page-item {{unless this.prev 'disabled'}}">
      {{#if this.prev}}
        <LinkTo @route={{@route}} @query={{hash page=this.prev}} class="page-link" aria-label="Start">
          <span aria-hidden="true">&lt;</span>
        </LinkTo>
      {{else}}
        <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      {{/if}}
    </li>

    {{#each this.pages as |page|}}
      <li class="page-item {{if (eq page @current) 'active'}}">
        <LinkTo @route= {{@route}} @query={{hash page=page}} class="page-link">
          {{page}}
        </LinkTo>
      </li>
    {{/each}}

    <li class="page-item {{unless this.next 'disabled'}}">
      {{#if this.next}}
        <LinkTo @route={{@route}} @query={{hash page=this.next}} class="page-link" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </LinkTo>
      {{else}}
        <a href="#" class="page-link" aria-label="Last">
          <span aria-hidden="true">&gt;</span>
        </a>
      {{/if}}
    </li>
    <li class="page-item {{unless this.next 'disabled'}}">
      {{#if this.next}}
        <LinkTo @route={{@route}} @query={{hash page=@last}} class="page-link" aria-label="Next">
          <span aria-hidden="true">&gt;&gt;</span>
        </LinkTo>
      {{else}}
        <a href="#" class="page-link" aria-label="Last">
          <span aria-hidden="true">&gt;&gt;</span>
        </a>
      {{/if}}
    </li>
  </ul>
</nav>