<ul class="nav nav-tabs mb-3" id="postFormTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home" data-bs-toggle="tab" data-bs-target="#home-pane" type="button" role="tab" aria-controls="home-pane" aria-selected="true">Form</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="preview" data-bs-toggle="tab" data-bs-target="#preview-pane" type="button" role="tab" aria-controls="preview-pane" aria-selected="false">Preview</button>
  </li>
</ul>
<div class="tab-content" id="postFormTabContent">
  <div class="tab-pane fade show active" id="home-pane" role="tabpanel" aria-labelledby="form-tab">
    <form {{on "submit" @onSubmit}}>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <Input @value={{@post.title}} id="title" class="form-control {{if @post.errors.title "is-invalid"}}" />
        {{#each @post.errors.title as |error|}}
          <div class="invalid-feedback">
            {{error}}
          </div>
        {{/each}}
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <Textarea {{this.setTextarea}} @value={{@post.body}} id="body" class="form-control {{if @post.errors.body "is-invalid"}}" />
        {{#each @post.errors.body as |error|}}
          <div class="invalid-feedback">
            {{error}}
          </div>
        {{/each}}
      </div>

      <div class="mb-3">
        <input type="file" id="file" name="file" class="{{if @post.errors.images "is-invalid"}}" multiple {{on "change" this.uploadImage}} hidden />
        <label for="file" class="btn btn-outline-primary">
          Choose image
        </label>
        {{#each @post.errors.images as |error|}}
          <div class="invalid-feedback">
            {{error}}
          </div>
        {{/each}}
      </div>
      <button type="submit" class="btn btn-primary mb-3">{{@submitLabel}}</button>
    </form>
  </div>
  <div class="tab-pane fade" id="preview-pane" role="tabpanel" aria-labelledby="preview-tab">
    <Post @post={{@post}} />
  </div>
</div>