<form {{on "submit" @onSubmit}}>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <Input @value={{@post.title}} id="title" class="form-control {{if @post.errors.title "is-invalid"}}" />
    {{#each @post.errors.title as |error|}}
      <div class="invalid-feedback">
        {{error}}
      </div>
    {{/each}}
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <Textarea @value={{@post.body}} id="body" class="form-control {{if @post.errors.body "is-invalid"}}" />
    {{#each @post.errors.body as |error|}}
      <div class="invalid-feedback">
        {{error}}
      </div>
    {{/each}}
  </div>

  <div class="mb-3">
    <input type="file" id="file" name="file" class="{{if @post.errors.images "is-invalid"}}" multiple {{on "change" this.uploadImage}} hidden />
    <label for="file" class="btn btn-outline-primary">
      Choose image
    </label>
    {{#each @post.errors.images as |error|}}
      <div class="invalid-feedback">
        {{error}}
      </div>
    {{/each}}
  </div>
  <button type="submit" class="btn btn-primary mb-3">{{@submitLabel}}</button>
</form>