<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      {{#if @link}}
        <LinkTo @route="posts.show" @model={{@post.id}}>{{@post.title}}</LinkTo>
      {{else}}
        {{@post.title}}
      {{/if}}
    </h5>
    <div class="body card-text">
      {{@post.body}}
      {{#if @post.image_url}}
        <img src={{@post.image_url}} alt="">
      {{/if}}
    </div>
  </div>
</div>